<article *appContext="let user on this.user$ | async">
  <h1>
    {{title}}
  </h1>

  <form (submit)="login()" *ngIf="!user">
    <label>Username: <input type="text" [(ngModel)]="username" name="username"></label>
    <label>Password: <input type="text" [(ngModel)]="password" name="password" autofocus></label>
    <button type="submit">Login</button>
  </form>

  <section *ngIf="user">

    <h2>Wellcome {{user.username}}!</h2>

    <button (click)="logout()">logout</button>

    <button (click)="newRandomUser$.next()">random user data</button>

    <pre>{{randomUser$ | async | json}}</pre>

  </section>
</article>